[submodule "xray"]
	path = xray
	url = git@github.com:Windree/xray.git
[submodule "tor"]
	path = tor
	url = git@github.com:Windree/tor.git
[submodule "configuration-generator"]
	path = configuration-generator
	url = git@github.com:Windree/configuration-generator.git
