[submodule "tor"]
	path = tor
	url = git@github.com:Windree/tor.git
[submodule "speedtest"]
	path = speedtest
	url = git@github.com:Windree/speedtest.git
[submodule "rsyslog"]
	path = rsyslog
	url = git@github.com:Windree/rsyslog.git
[submodule "xray"]
	path = xray
	url = git@github.com:Windree/xray.git
